

<div class="container w-50">
<h1>Add new restaurant</h1>
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number%>
  <%= f.select :category, Restaurant::CATEGO %>
  <%= f.submit %>
<% end %>
</div>
<p>Find me in app/views/restaurants/new.html.erb</p>
